<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1>Create a New Landmark</h1>

<form action="/landmarks" method="POST">

  <p><label>Name:</label></p>
  <p><input type="text" name="landmark[name]" id="landmark_name"></input></p>

  <p><label>Year Completed:</label></p>
  <p><input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input></p>

  
  <p><input type="submit" value="Create New Landmark"></p>
</form>